.waarom-wij-over-ons {
    display: flex;
    color: black;
    background: white;
    
}

.waarom-wij-text {
    height: 500px;
    width: 50%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}

.waarom-wij-afbeelding {
    height: 500px;
    width: 50%;
    




}

.waarom-wij-afbeelding img {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.paragraaf{
   max-width: 56ch;
   padding-left: 20px;
   padding-right: 20px;

}

@media  screen and  (widt-max:1000px){
    .heading2{
        font-size: 200%;

    }


    .waarom-wij-over-ons{
flex-direction: column;
    }

    .waarom-wij-afbeelding{
        width: 100%;

    }
    
}